template(name="simpleMessage")
    #simpleMessage

template(name="message")
    div(class="alert {{type}}")
        if isClosable
            button.close(type="button" data-dismiss="alert" aria-hidden="true") &times;
        if title
            strong {{title}}
        | {{{body}}}